@model ICollection<ResturantPOS.Models.Wallet>



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<!--web grid styles starts-->
<style type="text/css">
    /*styles for altering rows*/
    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }
</style>


<link href="~/Content/Wallet.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 style="text-align: center;">List Of Wallet Types</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="text" class="col-sm-4 control-label">Wallet Type</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Type" placeholder="Required Wallet Type">
                </div>
            </div><br><br>
            <button id="BtnCatCreate" type="button" class="btn btn-success" style="margin-left: 37%;"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i> Save.</button>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div style="width:100%;float:left;padding-bottom:50px;">
    <h4> Wallet Type</h4>
    @{
        if (Model != null)
        {
           
            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.NextPrevious);

            @grid.GetHtml(tableStyle: "table table-responsive table-bordered",
            headerStyle: "",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-row-style",
            columns:
             grid.Columns(
            grid.Column("WalletType", style: "col1", format: @<text><span id="WalletType" class="display-mode">@item.WalletType</span>@Html.TextBox("WalletType-Edit", (string)item.WalletType, new { @class = "edit-mode form-control" })</text>),
             grid.Column("", style: "col1", format: @<text>
                    <div style="padding-left:20px;">
                        <button class="btn btn-default edit-item display-mode" id="@item.WalletType">Edit</button>
                        <button class="btn btn-default display-mode delete-item" id="@item.WalletType">Delete</button>
                        <button class="btn btn-default save-item edit-mode" id="@item.WalletType">Save</button>
                        <button class="btn btn-default cancel-item edit-mode" id="@item.WalletType">Cancel</button>
                    </div>
        </text>)))
        }
    }
</div>
<script type="text/javascript">
    initialize();

    function initialize() {

        $('.edit-mode').hide();

        $('.edit-item').on('click', function () {
            $('.edit-mode').hide();
            $('.delete-mode').hide();
            $('.display-mode').show();
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });
        $('.cancel-item').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.display-mode,.edit-mode').toggle();
        });
        $('.delete-item').on('click', function () {
            if (confirm("Are you sure to delete this contact?")) {
                var tr = $(this).parents('tr:first');
                var ID = tr.find('#WalletType-Edit').val();
                var Wallet = new Object();
                Wallet.WalletType = ID;
                $.ajax({

                    type: "POST",
                    url: '/Wallet/DeleteWallet/',
                    data: JSON.stringify(Wallet),
                    contentType: "application/json;charset=utf-8",
                    success: function (data, status, xhr) {

                        window.location.reload();
                    },
                    error: function (xhr) {

                        window.location.reload();
                    }
                });
            }

        });

        $('.save-item').on('click', function () {
            var tr = $(this).parents('tr:first');

            var Wallet1 = tr.find('#WalletType-Edit').val();
            var WalletType = tr.find('span').text();


            var Wallet = new Object();

            Wallet.WalletType = Wallet1;
           

            $.ajax({

                type: "POST",
                url: '/Wallet/WalletUpdate/',
                data: JSON.stringify({ WalletType, Wallet }),
                contentType: "application/json;charset=utf-8",
                success: function (data, status, xhr) {

                    window.location.reload();
                },
                error: function (xhr) {

                    window.location.reload();
                }
            });

            window.location.reload();
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('#BtnCatCreate').on('click', function () {

            var tr = $(this).parents('tr:first');
            
            var Walletid = $("#Type").val();   

           // alert(Walletid);
            var Wallet = new Object();

            Wallet.WalletType = Walletid;            
            $.ajax({
                type: "POST",
                url: '/Wallet/SaveWallet/',
                data: JSON.stringify(Wallet),
                contentType: "application/json;charset=utf-8",
                success: function (data, status, xhr) {

                    window.location.reload();
                },
                error: function (xhr) {

                }
            });
            window.location.reload();
        });
    }
</script>










