
@{
    ViewBag.Title = "BackOffice";
}



    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Hotel","Hotel")'"><i class="fa fa-university fa-3x" aria-hidden="true"></i><br /> <h4>Restaurant Info </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("CurrencyRate","Currency")'"><i class="fa fa-money fa-3x" aria-hidden="true"></i> <br /><h4>Currency Rate</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Category","Home")'"><i class="fa fa-delicious fa-3x" aria-hidden="true"></i> <br /><h4>Categories</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Kitchen","Kitchen")'"><i class="fa fa-simplybuilt fa-3x" aria-hidden="true"></i> <br /><h4>Kitchen/Section</h4></button>
        </div>
    </div>


    <!--1st row end-->


    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("MenuItems","MenuItems")'"><i class="fa fa-bars fa-3x" aria-hidden="true"></i><br /> <h4>Menu </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("MenuStock", "MenuStock")'"><i class="fa fa-tachometer fa-3x" aria-hidden="true"></i> <br /><h4>Menu Items Stock</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("R_Table","R_Table")'"><i class="fa fa-table fa-3x" aria-hidden="true"></i> <br /><h4>Tables</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("NotesMaster", "NotesMaster")'"><i class="fa fa-clipboard fa-3x" aria-hidden="true"></i> <br /><h4>Notes</h4></button>
        </div>
    </div>


    <!--2nd row end-->


    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Settings","Resturant")'"><i class="fa fa-cog fa-3x" aria-hidden="true"></i> <br /> <h4>Settings </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Database","Resturant")'"><i class="fa fa-database fa-3x" aria-hidden="true"></i> <br /><h4>Database</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Wallet","Wallet")'"><i class="fa fa-google-wallet fa-3x" aria-hidden="true"></i> <br /><h4>Wallet</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("RPOSCard","Resturant")'"><i class="fa fa-id-badge fa-3x" aria-hidden="true"></i> <br /><h4>RPOS Cards</h4></button>
        </div>
    </div>



    <!--3rd row end-->

    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("WareHouseType","Type")'"><i class="fa fa-briefcase fa-3x" aria-hidden="true"></i><br /> <h4>Warehouse Type </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("WareHouse","WareHouse")'"><i class="fa fa-home fa-3x" aria-hidden="true"></i> <br /><h4>Warehouse</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Product_OpeningStock", "Product_OpeningStock")'"><i class="fa fa-cart-arrow-down fa-3x" aria-hidden="true"></i> <br /><h4>Raw Materials</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Supplier","Supplier")'"><i class="fa fa-address-card fa-3x" aria-hidden="true"></i> <br /><h4>Supplier</h4></button>
        </div>
    </div>



    <!--4the row end-->


    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("PurchaseEntry","Resturant")'"><i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i> <br /> <h4>Purchase </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Payment","Resturant")'"><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i> <br /><h4>Payment</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("StockTransfer_Join", "StockTransfer_Join")'"><i class="fa fa-truck fa-3x" aria-hidden="true"></i> <br /><h4>Stock Transfer</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("ExpenseType","ExpenseType")'"><i class="fa fa-dropbox fa-3x" aria-hidden="true"></i><br /><h4>Expense Type</h4></button>
        </div>
    </div>


    <!--5th row end-->


    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("ExpenseList","Expense")'"><i class="fa fa-inr fa-3x" aria-hidden="true"></i> <br /> <h4>Expense </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Voucher","Resturant")'"><i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i> <br /><h4>Voucher</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Delivery","Resturant")'"><i class="fa fa-male fa-3x" aria-hidden="true"></i><br /><h4>Delivery Person</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("WorkPeriod","Resturant")'"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i> <br /><h4>Work Period</h4></button>
        </div>
    </div>


    <!--6th row end-->



    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Recipe","Resturant")'"><i class="fa fa-book fa-3x" aria-hidden="true"></i> <br /> <h4>Recipe </h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("POSReport","Resturant")'"><i class="fa fa-money fa-3x" aria-hidden="true"></i> <br /><h4>POS Report</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("WorkPeriod","Resturant")'"><i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i> <br /><h4>Work Period Report</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("AccountingReports","Resturant")'"><i class="fa fa-pie-chart fa-3x" aria-hidden="true"></i> <br /><h4>Accounting Reports</h4></button>
        </div>
    </div>


    <!--7th row end-->


    <div class="row">
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Registration","Registration")'"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i> <br /> <h4>Registration</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("ChangePIN","Resturant")'"><i class="fa fa-key fa-3x" aria-hidden="true"></i> <br /><h4>Change Pin</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("Logs","Resturant")'"><i class="fa fa-linode fa-3x" aria-hidden="true"></i> <br /><h4>Logs</h4></button>
        </div>
        <div class="col-md-3 col-xs-6" id="btnn">
            <button id="btnn-inner" onclick="location.href='@Url.Action("About","Resturant")'"><i class="fa fa-user fa-3x" aria-hidden="true"></i> <br /><h4>About</h4></button>
        </div>
    </div>


    <!--8th row end-->
